body {
	margin: 0;
}

header {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
nav {
	width: 100%;
	background-color: #ccc;
}

nav ul {
	list-style: none;
}

nav ul li {
	margin: 0px;
	display: inline-block;
	background-color: #ccc;
	color: #fff;
	padding: 20px;
}

.experienceContainer ul {
	list-style: none;
}

footer {
	width: 100%;
	margin-left: 50% 50% auto;
	margin-right: 50% 50% auto;
	position: fixed;
	bottom: 0px;
}
